<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, natus? Porro
  qui eius similique ex labore sapiente, praesentium debitis esse. Minus alias
  dolorem blanditiis non quidem labore impedit nemo repellat!
</p>


<%- include("footer") -%>